export GIN_MODE=debug
export PORT=8080
export ENV=develop
export DB_HOST=db
export DB_PORT=5432
export DB_USER=user
export DB_PASS=password
export DB_NAME=car-maintenance-tracker
export SSL_MODE=disable
export GEOCODE_URL="https://geocode.maps.co"
export SCRAPER_SPECIALISTS_URL="https://www.geoportalksk.sk/geoserver/wfs?request=GetFeature&service=WFS&version=1.1.0&typeName=ksk_evucsk:specializovane_ambulancie_ksk&outputFormat=application%2Fjson"
